@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#sidebar{
  position: fixed;
  background: #000000;
  height: 100%;
  width: 270px;
  overflow: hidden;
  left: 0px;
  transition: all 0.3s ease;
}

/* TEXTO HOME */

p {
    position: relative;
    height: 10em;
    margin: 0;
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'poppins', sans-serif;
}

h2 {
    position: relative;
    height: 10em;
    margin: 0;
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 14em;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'poppins', sans-serif;
}

h4 {
    position: relative;
    top: 10px;
    left: 39%;
}


/* TÍTULO DA SIDEBAR */
#sidebar .title {
    line-height: 58px;
    text-align: justify;
    background: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 20;
    color: #f2f2f2;
}

/* ITENS DO MENU */
#sidebar .list-items li {
    padding-left: 40px;
    line-height: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgb(29, 29, 29);
    transition: all 0.3s ease;
}

#sidebar .list-items li:hover {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0px 10px 3px rgb(17, 151, 17);
}

#sidebar .list-items li:first-child {
    border-top: none;
}

#sidebar .list-items li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    width: 100%;
    display: block;
}

#sidebar .list-items li a i {
    margin-right: 20px;
}

/* ÍCONES DAS REDES SOCIAIS */
#sidebar .list-items .icons {
    width: 100%;
    height: 40px;
    text-align: center;
    position: absolute;
    bottom: 100px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar .list-items .icons a {
    height: 100%;
    width: 40px;
    display: block;
    margin: 0 5px;
    font-size: 18px;
    color: #f2f2f2;
    background: #088136;
    border-radius: 5px;
    border: 1px solid #383838;
    transition: all 0.3s ease;
}

#sidebar .list-items .icons a:hover {
    background: #000000;
}

/* POSICIONAMENTO DA IMAGEM E NOME NO MENU */
.side-menu img {
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 20px;
    border: 3px solid rgb(17, 151, 17);
    left: 27%;
}

.side-menu h5 {
    position: relative;
    color: white;
    text-align: center;
    top: 20px;
    margin-bottom: 3.5rem;
    line-height: 1.2rem;
}

.side-menu h6 {
    position: relative;
    color: white;
    text-align: center;
    top: 0px;
    margin-bottom: 1.5rem;
    line-height: 1.2rem;
}

/* BOTÃO VOLTAR */

.btn-success {
    position: relative;
    left: 2em;
    top: 2em;
}

/* PÁGINA HOME */

.textHome {
    position: relative;
    height: 10em;
    margin: 0;
    position: absolute;
    align-items: center;
    top: 32%;
    left: 55%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'poppins', sans-serif;
}

.textHome P {
    width: 29em;
    top: 9em;
    align-items: justify;
}

/* PÁGINA FORMAÇÃO */
.textForm h5 {
    width: 900px;
    height: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 55px;
    top: -100px;
    margin: auto;
    border-radius: 55%;
}

.textFormP{
    width: 500px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 200px;
    margin: auto;
    border-radius: 55%;
}

.textForm h2{
    width: 100px;
    height: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 50px;
    top: -170px;
    margin: auto;
    border-radius: 55%;
}

.containerVid{
    width: 300px;
    height: 100px;
    display: inline-block;
    position: relative;
    bottom: 0;
    right: 0;
    left: 457px;
    top: 420px;
    margin: auto;
    border-radius: 55%;
}

.buttonsFormacao {
    width: 400px;
    height: 183px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    border-radius: 55%;
}

.buttonForm {
    position: relative;
    left: 0.5em;
    top: -12em;
}

/* PÁGINA EXPERIÊNCIA */
.textExp {
    position: relative;
    height: 10em;
    margin: 0;
    position: absolute;
    align-items: center;
    top: 32%;
    left: 55%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'poppins', sans-serif;
}

.skills{
    position: relative;
    left: 0px;
}

.buttonExp{
    position: relative;
    left: -12em;
}

/* PÁGINA LÍNGUAS */
.sectionLing h2{
    position: relative;
    height: 10em;
    margin: 0;
    position: absolute;
    align-items: center;
    top: 35%;
    left: 60%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'poppins', sans-serif;
}

.sectionLing p{
    width: 400px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 27%;
    top: -150px;
    margin: auto;
    border-radius: 55%;
}

.ingles{
    width: 400px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 180px;
    margin: auto;
    border-radius: 55%;
}

.espanhol{
    width: 400px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 30px;
    margin: auto;
    border-radius: 55%;
}

.buttonling{
    position: relative;
    top: -15px;
}

/* PÁGINA CONTATO */

.sectionCont h2{ 
    position: relative;
    height: 10em;
    margin: 0;
    position: absolute;
    align-items: center;
    top: 32%;
    left: 67%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'poppins', sans-serif;
}

.containerCont {
    width: 830px;
    height: 100px;
    position: relative;
    bottom: 0;
    right: 0;
    left: 240px;
    top: 230px;
    margin: auto;
    border-radius: 55%;
}

.buttonVolt{
    position: relative;
    left: 0.5em;
    top: -7em;
}








